/* var.css */
/* :root {
  --vp-c-brand-1: #0053A9;
  --vp-c-brand-2: #2347d7;
  --vp-c-brand-3: #638bea;
}

.dark {
  --vp-c-brand-1: #0053A9;
  --vp-c-brand-2: #2347d7;
  --vp-c-brand-3: #638bea;
} */
/* 以前的vp-c-brand已弃用 */

:root {
  /* hero标题渐变色 */
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #bd34fe, #41d1ff);

  /*hero logo背景渐变色 */
  --vp-home-hero-image-background-image: linear-gradient(-45deg, #bd34fe 50%, #47caff 50%);
  --vp-home-hero-image-filter: blur(40px);
}
